*.env
temp/
__pycache__/
test.ipynb
generation/*.pkl
causeme/experiments/*.txt
causeme/results/*.bz2
*graph_*.png
*graph*.png
graph_*
*descriptors*.csv
generation/comparing_test.ipynb
causeme/causeme_method_registration_example.py
*.txt
*/pics/*.png
causeme.keys

/competitors/*.csv
/competitors/*.pkl
/competitors/*/*.csv
/competitors/*/*/*.csv
/competitors/*/*/*/*.csv
/competitors/notmine/*
/competitors/TCDF/*
/temp/*
/causeme/*
/generation/*.csv