*.env
*.pkl
Untitled.ipynb
.ipynb_checkpoints/
temp/
__pycache__/
test.ipynb
generation/*.pkl
*graph_*.png
*graph*.png
graph_*
*descriptors*.csv
generation/comparing_test.ipynb
*.txt
*/pics/*.png
causeme.keys

/competitors/*.csv
/competitors/*.pkl
/competitors/*/*.csv
/competitors/*/*/*.csv
/competitors/*/*/*/*.csv
/competitors/notmine/*
/competitors/TCDF/*

/causeme/*
/generation/*.csv

/data/
/new_data/
/temp/
/gnn/

d2c/lwr.ipynb


tests/.old
data/
gnn/
causeme/
temp/
